body {
    text-align: center;
    max-width: max-content;
    width: 50%;
    margin: auto;
    background-color: #4b4b4b;
    background-image: url(../media/F05-Sant-Jaume-de-Frontanyà.jpg);
    background-size: cover; /* Scales the image to cover the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
h1 { color: #000; }
p { color: #fff; }
section {
    background-color: #16191e;
    padding: 2em;
    border-radius: 2em;
}
#encendrecaldera-btn {
    padding: 0.3em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    transition: 0.2s;
}
#encendrecaldera-btn:hover {
    color: #54B0FF;
    background-color: #4b4b4b;
}